<!doctype html>
<html lang="en-us" ng-app="waiterApp">
<head>
    <meta charset="UTF-8">
    <title>Big Angular App</title>
    <style type="text/css">
        [ng-cloak] {display: none !important;}
    </style>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
</head>
<body ng-cloak>
<div class="welcome" ng-controller="userCtrl">
    <h1 id="greeting">
        {{user.greeting}}
    </h1>
</div>
<div class="customers" ng-controller="customersCtrl">
    <ul>
        <li ng-repeat="customer in customerList">
            {{customer.name}} <br> <rating ng-click="updateCustomerRating(customer)" ng-model="customer.rating"></rating>
        </li>
    </ul>
</div>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>

<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="app.js"></script>
<script src="components/user/user.js"></script>
<script src="components/user/user_ctrl.js"></script>
<script src="components/user/user_service.js"></script>
<script src="components/customers/customers.js"></script>
<script src="components/customers/customers_ctrl.js"></script>
<script src="components/customers/customers_service.js"></script>
</body>
</html>